body {
  display:flex;
  flex-direction: column;
  background-color: #DAE0E6 ;
  @include body-font;
  
}
.title {
  background-color: #DAE0E6 ;
  display: block;
  color: rgb(82, 82, 82);
  margin-left: 17em;
}

.name{
  color: grey;
}
.category {
  font-size: 1em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 100px;
  padding: 2px 0 0 20px;
  background-color: red;
  transform: skewX(-10deg);
  border-radius: 4px;
  margin-bottom:10px;
}

.post-title {
  font-size: 1.7em;
}
