.button_1 {
  color: #0079D3;
  width: 85px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px 20px;
  margin: 7px 20px 3px 0;
  border: 1px solid #0079D3;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  }

.button_1:hover {
  color: #33a8ff;
  background: #ffffff;
  border-color: #33a8ff;

  }

  .button_2 {
    color: #ffffff;
    margin: 7px 20px 3px 0;
    width: 85px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #0079D3;
    padding: 5px 20px;
    border: 1px solid #0079D3;
    border-radius: 4px;
    display: inline-block;
    
    }
  
  .button_2:hover {
    color: #ffffff;
    background: #33a8ff;
    border-color: #33a8ff;
 
    }
  