.votes {
  display: flex;
  padding: 20px;
  flex-direction: column;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  border-right: 1px solid rgb(212, 211, 211);
}



.group-vote {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  justify-content: space-between;

}

.likes-count {
  margin-right: 10px;
}
