.logo {
  margin-left: 40px;
 
}

// .picture {
//   display: block;
//   max-width: 410px;
//   margin-right: 10px;
//   padding: 3px;
//   float: left;
//   border-radius: 4px;
//   border: 2px solid rgb(236, 239, 241);
// }

