<span class="like" data-id="<%= @post.id %>">🔼</span> 
<span class="likes-count"><%= @post.get_upvotes.size %></span>
    | 
    <span class="dislike" data-id="<%= @post.id %>">🔽</span>
    <span class="likes-count"><%= @post.get_downvotes.size %></span>