
.wrap {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: bold;
}

.post-wrap {
  background-color: $white;
  @include centered-flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid rgb(197, 196, 196);
  margin: 0 10px 10px;
  padding: 30px 0;
  width: 70%;
  box-shadow: $shadow;
}

.post-info {
  display: block;
  width: 5%;
}

.post-text {
  display: block;
  width: 90%;
  margin-right: 10px;
}

.post-body {
  width: 100%;
}

.comments {
  color: rgb(27, 87, 216);
  margin-right: 13px;
}


.smaller-text {
  font-size: 14.5px;
  margin: 4px 15px 0 ;
  color: rgb(131, 4, 4);
}

.comments-layout{
  color: rgb(0, 67, 112);
  display: block;
  width: 85%;
  margin-left: 50px;
  font-size: 14.5px;
  
}

//Link page CSS

.link-wrap {
  @include centered-flex;
  @include round-shadow;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
  padding: 30px;
  
}

#link-show {
  margin-right: 20px; 
}

#post-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#post-title,
#post-body {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 0px 20px 25px 20px;;
  color: rgb(80, 5, 5);
}


tbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#notice {
  margin-left: 300px;
  color: rgb(73, 73, 73);
}

td {
  align-self: flex-end;
  margin-right: 20px;
}



