.wrap {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: bold;
}


.post-wrap {
  background-color: $white;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid rgb(197, 196, 196);
  margin: 0 10px 10px;
  padding-top: 30px;
  width: 70%;
  box-shadow: -1px -1px 20px 2px rgb(190, 190, 190)
}

.post-info {
  display: block;
  width: 5%;
}

.post-text {
  display: block;
  width: 90%;
}

.post-body {
  width: 100%;
}

.comments {
  color: rgb(27, 87, 216);
  margin-right: 13px;
}


.smaller-text {
  font-size: 13.5px;
  margin-top: 4px;
  color: rgb(68, 4, 4);
}

.comments-layout{
  color: rgb(19, 4, 85);
  display: block;
  width: 85%;
  margin-left: 100px;
  font-size: 14.5px;
  
}

