.top-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(239, 241, 243);
  
}

.wrap-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 5px;
}

.under-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10.5px;
  width: auto;
}