.top-header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 1px solid rgb(239, 241, 243);
  padding: 9px 20px 3px 10px;
}

.under-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10.5px;
  width: auto;
}